<footer class="footer">
  <div class="container text-center">
    <a href="#" class="cc-facebook btn btn link">
      <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
    </a>
    <a href="#" class="cc-instagram btn btn link">
      <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
    </a>
    <a href="#" class="cc-twitter btn btn link">
      <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
    </a>
    <a
      href="https://github.com/dilusha07"
      class="cc-github btn btn link"
      target="_blank"
    >
      <i class="fa fa-github fa-2x" aria-hidden="true"></i>
    </a>
  </div>
  <div class="text-center text-muted">
    <p>&copy; All Rights reserved.</p>
  </div>
</footer>
