<div class="section" id="education">
  <div class="container cc-education">
    <div class="text-center h4 mb-4 title">Education</div>
    <div class="card">
      <div class="row">
        <div
          class="col-md-3 bg-primary"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <!-- <div class="card-body cc-education-header">
              <p>{{ edu.from_to_year }}</p>
              <div class="h5">{{ edu.education }}</div>
            </div> -->
          <div class="card-body cc-education-header">
            <p>2019 - current</p>
            <div class="h5">Bachelor's Degree</div>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h5">Bachelor of Software Engineering</div>
            <h4 class="category">University of kelaniya</h4>
            <ul>
              <li>
                Specialized Domains:
                <b
                  >Data Science and Engineering, Net-centric
                  Applications,Business Engineering</b
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div
          class="col-md-3 bg-primary"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-education-header">
            <p>2013 - 2015</p>
            <div class="h5">Higher Secondary</div>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h5">Advanced level Examination - 2017</div>
            <h4 class="category">MR/Mahinda Rajapaksha college, Matara</h4>
            <ul>
              <li>
                The High School was mainly focus on the bases of science,
                mathematics, and Chemistry
              </li>
              <li>
                There was also a good base on physics, mathematics and
                chemistry.
              </li>
              <li>
                .Completed my Advanced Level examination with<b>
                  2A and 1B passes</b
                >.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div
          class="col-md-3 bg-primary"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-education-header">
            <p>2002 - 2012</p>
            <div class="h5">Sedcondary School</div>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h5">Ordinary Level Examination - 2012</div>
            <h4 class="category">MR/Godapitiya Central college</h4>
            <ul>
              <li>
                The Secondary aims at Maths , English , Science, Sinhala,
                Litrature and Accounting.
              </li>

              <li>
                Completed my Ordinary Level examination with
                <b>8A and 1B passes.</b>.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
